// out: zad_05.css

ul > li {
  list-style-image: url("red4.gif");
}

ul > li > ul > li {
  list-style-image: url("green4.gif");
}

ul > li > ul > li > ul > li {
  list-style-image: url("blue4.gif");
}
