// out: zad_06.css

ul > li {
  list-style-type: decimal;
  color: red;
}

ul > li > ul > li {
  list-style-type: lower-latin;
  color: green;
}

ul > li > ul > li > ul > li {
  list-style-type: disc;
  color: blue;
}
