// out: zad_04.css

body {
  background-image: url("../zad2/papier.gif");
}

div.adres {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  background-color: yellow;
  border: 3px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

span.nazwisko {
  display: block;
  font-weight: bold;
  border-bottom: thin solid blue;
  border-top: thin solid blue;
  color: blue;
}

span.ulica {
  display: block;
  color: green;
}

span.kod {
  color: darkred;
}

span.miejscowosc {
}

span.telefon {
  display: block;
}
