// out: zad_10.css

body {
  background-color: silver;
}

#menu {
  background-color: gainsboro;
  border-color: black;
  text-align: center;
  border-style: outset;
  padding: 5px;
  margin-top: -8px;
  margin-left: -8px;
  width: 100%;
}

span a:link {
  border-color: black;
  padding: 3px;
  text-decoration: none;
  color: maroon;
  display: inline-flex;
  border-style: outset;
}

span a:hover {
  background-color: white;
  border-style: inset;
}

span a:visited {
  color: maroon;
  border-color: black;
}
