body {
  background-color: silver;
}
#menu {
  background-color: white;
  border-color: black;
  text-align: center;
  border-style: outset;
  padding: 5px;
  margin-top: -8px;
  margin-left: -8px;
  width: 100%;
}
