html {
  background-color: silver;
}
body {
  border: 2px solid red;
  height: 55px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  margin-top: 25%;
  background-color: wheat;
}
body > div {
  margin-left: 0px;
}
div {
  top: inherit;
  position: absolute;
  margin-left: 25px;
}
.A {
  top: 10px;
  left: 5px;
}
.B {
  top: -10px;
  left: 5px;
}
