// out: zad_02.css

@bg_img: "papier.gif";
@src: url(@bg_img);
@pxl: 25px;

body {
  background-color: silver;
}

.tresc {
  background-image: @src;
  text-align: justify;
  border-style: solid;
  border-width: medium;
  text-indent: @pxl;
  padding: @pxl;
}
