body {
  background-image: url("listki.gif");
  background-repeat: repeat-y;
  float: left;
  margin-top: 25px;
  margin-left: 125px;
  margin-right: 25px;
}
.bordered {
  border: 3px solid black;
}
.margins {
  margin-top: 25px;
  margin-left: 125px;
  margin-right: 25px;
}
.tresc {
  border: 3px solid black;
  padding: 25px;
  text-align: justify;
  text-indent: 25px;
}
img {
  float: left;
}
p:first-child {
  text-indent: 0px;
}
