// out: zad_03.css

@pxl: 25px;
@l: left;

body {
  background-image: url("listki.gif");
  background-repeat: repeat-y;
  float: @l;
  .margins
}

.bordered {
  border: 3px solid black;
}

.margins {
  margin-top: @pxl;
  margin-left: 5*@pxl;
  margin-right: @pxl;
}

.tresc {
  .bordered;
  padding: @pxl;
  text-align: justify;
  text-indent: @pxl;
}

img {
  float: @l;
}

p:first-child {
  text-indent: 0px;
}
